.team_main-subcontainer {
    padding: 60px 0;
}

.team_content-title {
    text-align: center;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
}

.team_content-title h1 {
    max-width: 940px;
    width: 100%;
}

.team_content-cards-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    width: 100%;
}

.team_content-card {
    display: flex;
}

.team_employee-image img {
    width: 300px;
    height: 400px;
}

.team_employee-info {
    display: flex;
    flex-direction: column;
    background-color: var(--solarbens-smooth);
    width: 270px;
    height: 400px;
    padding: 40px 30px;
    gap: 10px;
}

.team_employee-apresent h3 {
    line-height: 20px;
}

.team_employee-apresent p {
    text-transform: uppercase;
}

.team_employee-optional-desc p {
    font-size: 0.8rem;
    line-height: 17px;
}

.team_employee-social {
    display: flex;
    align-items: center;
    gap: 15px;
}

.team_employee-social-icon
a
img {
    width: 25px;
}

.team_card-reverse {
    flex-direction: row-reverse;
}

@media screen and (max-width: 824px) {
    .team_content-title h1 {
        font-size: 4.8vw;
    }
}

@media screen and (max-width: 610px) {
    .team_content-card {
        flex-direction: column;
    }

    .team_employee-info {
        width: 100%;
    }

    .team_employee-image img {
        width: 100%;
        height: 100%;
    }

    .team_employee-info,
    .team_employee-image img {
        max-width: 370px;
    }
}

@media screen and (max-width: 462px) {
    .team_content-title h1 {
        font-size: 4.5vw;
    }
}