:root {
    --cosmos-cream: var(--solarbens-white);
    --cosmos-base: var(--solarbens-base);
}

.header_main-container {
    position: fixed;
    top: 0;
    transition: .5s ease;
    backdrop-filter: blur(1.5px);
    z-index: 10;
}

.header_main-subcontainer {
    padding: 20px 0;
    transition: .3s ease;
}

.header_main-subcontainer,
.header_navigation-subcontainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_navigation-subcontainer {
    display: flex;
    gap: 30px;
    list-style: none;
    transition: .3s ease;
}

.header-mobile-icon {
    display: none;
}

.header_navigation-item,
.navigation_dropdown {
    color: var(--cosmos-cream);
    text-transform: uppercase;
    font-size: 0.9rem;
    position: relative;
}

.header_navigation-item::after {
    content: "";
    width: 0;
    height: 1.5px;
    background-color: var(--cosmos-cream);
    position: absolute;
    bottom: 0;
    right: 0;
    transition: 0.5s ease;
}

.header_navigation-item:hover::after {
    width: 100%;
    left: 0;
}

.header-number {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header_number-text {
    position: relative;
}

.header_number-text p {
    color: var(--cosmos-cream);
    position: absolute;
    top: -18px;
    left: 0;
}

.header-number img {
    max-width: 40px;
    width: 100%;
}

.header-number a {
    color: var(--cosmos-cream);
    font-size: 1.5rem;
}

.header-toggle-icon {
    background-color: transparent;
    outline: 0;
    border: 0;
    cursor: pointer;
    display: none;
}

.header-toggle-icon
svg
path {
    color: var(--cosmos-cream);
}

.header-mobile-social {
    display: none;
    gap: 20px;
}

.header-mobile-social a svg path {
    color: var(--cosmos-cream);
}

.header-sticky .header_main-subcontainer {
    padding-top: 5px;
    padding-bottom: 5px;
    transition: .3s ease;
}

.header-sticky {
    background-color: rgba(0, 0, 0, 0.521);
    transition: .5s ease;
    backdrop-filter: blur(5px);
    box-shadow: 0 8px 32px 0 #322c598e;
}

.solarbens_button-pre_config {
    width: 180px;
    font-size: 0.7rem;
}

.navigation_dropdown {
    position: relative;
    cursor: default;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 5px;
}

.navigation_dropdown svg path {
    color: var(--solarbens-white);
}

.header_subnavigation-container {
    list-style: none;
    position: absolute;
    background-color: #FAE39E;
    top: 20px;
    z-index: 1;
}

.header_subnavigation-item {
    width: 120px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s ease;
    display: none;
}

.header_subnavigation-item:hover {
    background-color: var(--solarbens-white);
    transition: .3s ease;
}

.navigation_dropdown:hover .header_subnavigation-item {
    display: block;
}

@keyframes showSidebar {
    from { margin-left: -100vw; }
    to { margin-left: 0; }
}

@media screen and (max-width: 1027px) {
    .header-toggle-icon {
        display: flex;
    }

    .header-navigation {
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.637);
        width: 100%;
        margin-left: -100vw;
        transition: .8s ease;
        animation-duration: 1s;
    }
    
    .header_navigation-subcontainer {
        flex-direction: column;
        justify-content: space-evenly;
        background-color: var(--solarbens-strong-gray);
        height: 100vh;
        width: 250px;
        animation-duration: 1.2s;
        transition: .5s ease;
        overflow-y: scroll;
        padding: 20px 0;
    }

    .header-icon a img{
        width: 120px;
    }

    .header-mobile-icon {
        display: block;
    }

    .header-mobile-social {
        display: flex;
    }

    .header_button-container {
        display: none;
    }
}