.home_fifth-section-container {
    background-image: url("../../images/backgrounds/solarbens_estrutura_mirassol_home_bg.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: var(--solarbens-white);
    padding-top: 30px;
    margin-top: 30px;
    background-color: var(--solarbens-white);
}

.home_fifth-section-title {
    display: flex;
    justify-content: center;
}

.home_fifth-section-title h1 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2.5rem;
    max-width: 800px;
    width: 100%;
}

/* Carousel */
.home_fifth-section-carousel {
    max-width: 550px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.home_fifth-carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
}

.home_fifth-carousel-item {
    min-width: 100%;
    transition: opacity 0.5s ease;
}

.home_fifth-section-carousel img {
    width: 100%;
    display: block;
    border-radius: 25px;
}

.home_fifth-carousel-control {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    padding: 10px;
}

.home_fifth-carousel-control p {
    color: var(--solarbens-white);
    font-size: 2.5rem;
    cursor: pointer;
}

.home_fifth-carousel-prev {
    left: 0;
    height: 100%;
}

.home_fifth-carousel-next {
    right: 0;
    height: 100%;
}
/* End Carousel */

.home_fifth-section-images {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
}

.home_fifth-section-info-box {
    border-left: 1px solid var(--solarbens-base);
    border-top: 1px solid var(--solarbens-base);
    border-right: 1px solid var(--solarbens-base);
    border-radius: 30px;
    max-width: 400px;
    width: 100%;
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.home_fifth-section-info-text {
    padding: 40px;
}

.home_fifth-section-info-title h2 {
    text-transform: uppercase;
    letter-spacing: 10px;
    word-spacing: 2px;
    font-size: 1rem;
    font-weight: 500;
}

.home_fifth-section-info-subtitle h1 {
    font-size: 2.3rem;
}

.home_fifth-section-info-list ul {
    list-style-type: none;
}

.home_fifth-section-info-list
ul
li {
    font-size: 0.9rem;
}

.home_fifth-section-info-list
ul
li
span {
    font-weight: 600;
}

.home_fifth-section-info-button
a
button {
    background-color: var(--solarbens-base);
    border: none;
    outline: 0;
    width: 100%;
    height: 100px;
    border-radius: 0 0 20px 20px;
    font-size: 0.9rem;
    letter-spacing: 2px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.home_fifth-section-info-button
a
button:hover {
    background-color: var(--solarbens-base-hover);
    transition: .2s ease-in-out;
}

@media screen and (max-width: 988px) {
    .home_fifth-section-container {
        background-image: none;
    }
    .home_fifth-section-images {
        flex-direction: column;
        justify-content: center;
    }

    .home_fifth-section-carousel {
        max-width: 800px;
    }

    .home_fifth-section-info-box {
        max-width: 800px;
        height: 100%;
    }

    .home_fifth-section-info-title h2 {
        text-align: center;
        font-size: 1.5rem;
    }

    .home_fifth-section-info-subtitle h1 {
        font-size: 4rem;
    }

    .home_fifth-section-info-text {
        text-align: center;
    }

    .home_fifth-section-info-list
    ul
    li {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 839px) {
    .home_fifth-section-title h1 {
        font-size: calc(2vw + 20px);
        line-height: 35px;
    }
}

@media screen and (max-width: 660px) {
    .home_fifth-section-info-title h2 {
        text-align: center;
        font-size: 3vw;
    }

    .home_fifth-section-info-subtitle h1 {
        font-size: 8vw;
    }

    .home_fifth-section-info-text {
        text-align: center;
    }

    .home_fifth-section-info-list
    ul
    li {
        font-size: calc(1vw + 9px);
    }
}

@media screen and (max-width: 376px) {
    .home_fifth-section-title h1 {
        font-size: calc(2vw + 15px);
        line-height: 35px;
    }
}

@media screen and (max-width: 340px) {
    .home_fifth-section-info-list
    ul
    li {
        font-size: calc(1vw + 7px);
    }
}