.home_fir-section-container {
    background-image: url("../../images/backgrounds/solarbens_estrutura_banner_home.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 80vh;
    border-radius: 0 0 40px 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home_fir-section-text {
    text-align: center;
    margin: 0 0 40px 0;
}

.home_fir-section-text h1 {
    font-size: 2.6rem;
    font-weight: 500;
    color: var(--solarbens-white);
}

.home_fir-section-button {
    display: flex;
    justify-content: center;
}

.home_fir-section-button a button {
    width: 200px;
    padding: 13px 0;
    font-weight: 600;
    font-size: 0.8rem;
}