.home_sec-section-container {
    background-color: var(--solarbens-white);
    color: var(--solarbens-black);
}

.home_sec-section-content {
    padding: 60px 0;
}

.home_sec-section-title {
    text-align: center;
}

.home_sec-section-title h1 {
    font-size: calc(1vw + 30px);
    line-height: 33px;
}

.home_sec-section-text {
    text-align: center;
    margin: 30px 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.home_sec-section-text p {
    max-width: 600px;
    width: 100%;
    line-height: 15px;
}

.home_sec-section-cards-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.home_sec-section-card {
    display: flex;
    align-items: center;
    gap: 30px;
    border: 2px solid var(--solarbens-gray);
    padding: 25px;
    border-radius: 30px;
    max-width: 360px;
    width: 100%;
}

.home_sec-section-card-text p {
    font-size: 0.8rem;
}

@media screen and (max-width: 600px) {
    .home_sec-section-card {
        flex-direction: column;
    }

    .home_sec-section-card-text {
        text-align: center;
    }
}

@media screen and (max-width: 399px) {
    .home_sec-section-title h1 {
        font-size: calc(1vw + 23px);
    }
}