.home_thr-section-container {
    background-image: url("../../images/backgrounds/solarbens_estrutura_solarbens_home_bg.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: var(--solarbens-white);
    padding-bottom: 60px;
}

.home_thr-section-content {
    display: grid;
    grid-template-areas:
        "title img"
        "txt img"
        "btn img"
    ;
    align-items: center;
    justify-content: space-between;
}

.home_thr-section-title {
    grid-area: title;
    color: var(--solarbens-black);
    margin-bottom: 20px;
    line-height: 60px;
}

.home_thr-section-title h1 {
    max-width: 350px;
    width: 100%;
    font-size: 3rem;
}

.home_thr-section-text {
    grid-area: txt;
    max-width: 550px;
    width: 100%;
    margin-bottom: 35px;
}

.home_thr-section-button-container {
    grid-area: btn;
}

.home_thr-section-logotype {
    grid-area: img;
}

.home_thr-section-logotype img {
    max-width: 500px;
    width: 100%;
}

.home_thr-section-button {
    width: 160px;
    font-weight: 600;
}

@media screen and (max-width: 1000px) {
    .home_thr-section-text p {
        font-size: calc(1vw + 6px);
    }
}

@media screen and (max-width: 950px) {
    .home_thr-section-content {
        grid-template-areas:
            "title"
            "img"
            "txt"
            "btn"
        ;
        row-gap: 15px;
        justify-content: center;
    }
    
    .home_thr-section-button-container {
        display: flex;
        justify-content: center;
    }

    .home_thr-section-button {
        width: 70vw;
    }

    .home_thr-section-text p {
        font-size: 16px;
    }

    .home_thr-section-title h1 {
        margin-bottom: 30px;
    }

    .home_thr-section-title h1 {
        line-height: 45px;
    }

    .home_thr-section-container {
        background-image: none;
    }

    .home_thr-section-logotype {
        display: flex;
        justify-content: center;
    }

    .home_thr-section-logotype img {
        max-width: 350px;
    }
}

@media screen and (max-width: 395px) {
    .home_thr-section-title h1 {
        font-size: calc(2vw + 30px);
    }
}